---
const {phones :{name,color,storage,baterry, price, img}} = Astro.props

let number ="1138007277";
let mensaje = "Hola, estoy consultando por el stock del ";
let txt = encodeURIComponent(mensaje + name);
let wsplink = "https://wa.me/" + number + "?text=" + txt + "&image=" + encodeURIComponent(img);

---
<div class="">
    <div class="lg:h-72">
        <img src=`https://pub-da5252972ebd454a933cde77f0fd8a08.r2.dev/${img}` alt="" class="h-full w-full object-cover object-center lg:h-full lg:w-full">
    </div>
    <div class="mt-4 flex justify-between">
        <div>
          <h3 class="text-sm font-bold text-gray-900">{name}</h3>
          <p class="mt-1 text-sm text-gray-500">Color: {color}</p>
          <p class="mt-1 text-sm text-gray-500">Almacenamiento: {storage}GB🧠</p>
          <p class="mt-1 text-sm text-gray-500">Bateria: {baterry}🔋</p>
        </div>
        <p class="text-sm font-medium text-gray-900">${price}</p>
      </div>
      <div>
        <a href={wsplink} target="_blank" class="w-full h-full">
        <button class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 mt-2 h-full w-full border border-blue-500 hover:border-transparent rounded" data-confetti-button>
            Consultar Stock
        </button>
        </a>
        
      </div>
</div>


